version: "3.8"

services:
    postgres:
        ports:
            - "${DB_PORT:-5432}:5432"

    backend:
        ports:
            - "${API_PORT:-3000}:3000"

    frontend:
        ports:
            - "${FRONTEND_PORT:-8080}:80"
            - "${FRONTEND_HTTPS_PORT:-8443}:443"
